@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&amp;display=swap");

body{
	margin: 0;
	padding: 0;
    font-family: "Roboto", sans-serif;
}

/* herader */

.responsive-bar{
    display: none;
}

/* .main-section header .navbar .container-fluid a.navbar-brand {
    margin: 0 10rem 0 0;
} */

.main-section header .navbar .container-fluid .navbar-brand img{
   width: 25%;
   height: auto;
}

.main-section header .navbar{
    background: #d4e2fd !important;
}

.main-section header ,.navbar .container-fluid .collapse ul li.nav-item {
    margin: 0 10px 0 0;
    padding: 5px;
}

.main-section header .navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link {
    color: #003399;
    font-size: 18px;
    font-weight: 700;
}

.main-section header .navbar .container-fluid .collapse .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
    color: #c2320e;
    border-bottom: 2px solid;
}



/* .main-section header nav{
    background: #d4e2fd;
} */

/* .main-section header nav .container .navbar-brand img{
    max-width: 20%;
    height: auto;
} */

/* nav{  
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .5s;
}
nav.black{
    background: #d4e2fd;
    height: auto;
    width: 100%;
    padding: 10px 50px;
}
nav .logo{
    float: left;
}
nav .logo img{
    height: 70px;
    transition: .5s;
    padding: 0 0 0 91px;
}
nav.black .logo img{
    height: 60px;
}
nav > ul{
    width: 50%;
    margin: 0 auto;
    padding: 0;
    float: right;
}
nav > ul > li{
    list-style: none;
    display: inline-block;
}
nav > ul > li > a:hover{
    background: #e63b11;
    color: #fff;
} */

/* a.active-color {
    color: #ff3300;
    border-bottom: 2px solid;
} */

/* nav > ul > li > a{
    color: #f4f5f7;
    text-decoration: none;
    line-height: 80px;
    padding: 5px 20px;
    transition: .5s;   
} */

/* nav.black > ul > li > a.active-color {
    color: #ff3300;
    border-bottom: 2px solid;
} */

/* nav.black > ul > li > a{
    color: #080808;
    line-height: 60px;
} */

/* herader */

.sec1{
    width: 100%;
    height: 100vh;
     position: relative; 
    background-color: #2c3783;
    background-image: url(../images/home/asdad.png);
    background-position:center center;
    background-size: 105%;
    background-size: cover;
    background-repeat: no-repeat;
    /* background: url(https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover; */
}

.sec1 .container .row .breadcrumb-text h5{
    color: #f35b35;
    padding: 10rem 0 0 0;
}

.sec1 .container .row .breadcrumb-text h1{
    color: #f7f6f5;
    font-size: 82px;
    font-weight: bold;
}

.sec1 .container .row .breadcrumb-text p{
    color: #ebebeb;
    margin: 0 0 28px 0;
    text-align: left;
}

.sec1 .container .row .breadcrumb-text .text-form{
    display: flex;
}

.sec1 .container .row .breadcrumb-text .text-form .form-group{
        margin: 0 20px 0 0;
}

.sec1 .container .row .breadcrumb-text .text-form .form-group #exampleFormControlInput1{
   width: 400px;
}

.sec1 .container .row .breadcrumb-text .text-form .form-button button:hover{
    background: #d97056;
        color: #003399;
}

section.content{
    margin: 0;
    padding: 0;
    font-size: 1.1em;
}

section.sec2{
    width: 100%;
    height: 100vh;
    background: url(https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
}

/* @media(max-width:768px){
    .responsive-bar{
        display: block;
        width: 100%;
        height: 60px;
        background: #d4e2fd;
        position: fixed;
        top: 0;
        left: 0;
        padding: 5px 20px;
        box-sizing: border-box;
        z-index: 1;
    }
    .responsive-bar .logo img{
        float: left;
        height: 50px;  
    }
    .responsive-bar .menu .fa-bars{
        float: right;
        color: #003399;
        margin: 0;
        padding: 0;
        font-size: 30px;
        line-height: 50px;
        cursor: pointer;
        text-transform: uppercase;
    }
    nav{
        padding: 0;
    }
    nav,
    nav.black{
    background: #d4e2fd;
    height: 60px;
    padding: 0;
    }
    nav .logo{
        display: none;
    }
    nav ul{
        position: absolute;
        width: 100%;
        top: 60px;
        left: 0;
        background: #d4e2fd;
        float: none;
        display: none;
    }
    nav ul.active{
        display: block;
    }
 */
    /* a.active-color {
        color: #ff3300;
        border-bottom: 2px solid;
    } */

    /* nav ul li{
        width: 100%;
    }
    nav ul li a{
        display: block;
        padding: 0;
        width: 100%;
        text-align: center;
        line-height: 57px;
        color: #003399;
        
    }

    nav > ul{
        width: 100%;
        display: none;
    }
    nav > ul > li{
        display: block;
        text-align: center;
    }
    .active{
        display: block;
    }
}

@media(max-width: 991px) {
    .responsive-bar{
        display: block;
        width: 100%;
        height: 60px;
        background: #d4e2fd;
        position: fixed;
        top: 0;
        left: 0;
        padding: 5px 20px;
        box-sizing: border-box;
        z-index: 1;
    }
    .responsive-bar .logo img{
        float: left;
        height: 50px;  
    }
    .responsive-bar .menu .fa-bars{
        float: right;
        color: #003399;
        margin: 0;
        padding: 0;
        font-size: 30px;
        line-height: 50px;
        cursor: pointer;
        text-transform: uppercase;
    }
    nav{
        padding: 0;
    }
    nav,
    nav.black{
    background: #d4e2fd;
    height: 60px;
    padding: 0;
    }
    nav .logo{
        display: none;
    }
    nav ul{
        position: absolute;
        width: 100%;
        top: 60px;
        left: 0;
        background: #d4e2fd;
        float: none;
        display: none;
    }
    nav ul.active{
        display: block;
    }
    nav ul li{
        width: 100%;
    }
    nav ul li a{
        display: block;
        padding: 0;
        width: 100%;
        text-align: center;
        line-height: 57px;
        color: #003399;
        
    }

    nav > ul{
        width: 100%;
        display: none;
    }
    nav > ul > li{
        display: block;
        text-align: center;
    }
    .active{
        display: block;
    }

} */

.sec1 .overlay{
    background-image: url(../images/home/overlay.png);
    background-position: center center;
    background-size: cover;
    opacity: 1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* about-section */


.about-section{
    margin: 50px 0 50px 0;
    width: 100%;
    height: 90vh;
    position: relative;
    background-image: url(../images/home/diverse-businesspeople-having-meeting.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.over-lay{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

 .about-section .about-theme{
    background-color: #380f05;
    opacity: 0.7;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
} 

.about-section .container .row .card-section{
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 50px 46px 50px 46px;
    background: #FFFFFF;
    position: relative;
    box-shadow: 10px -10px 15px -10px grey;
    border-radius: 0px 0px 50px 0px;
    -webkit-border-radius: 0px 0px 50px 0px;
    -moz-border-radius: 0px 0px 50px 0px;
    -ms-border-radius: 0px 0px 50px 0px;
    -o-border-radius: 0px 0px 50px 0px;
}

.about-section .container .row .card-section .card-title{
    color: #06233f;
    font-size: 34px;
    line-height: 35px;
    margin: 0 0 30px 0;
}

.mission-section {
    margin: -150px 0 0px 0;
    position: relative;
}


.mission-section .container .row .side-card{
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 40px;
    box-shadow: 10px -10px 15px -10px grey;
    /* width: 33.5%; */
    margin: 30px 0px 0 0;
    /* float: right; */
    background: #2c3783;
    border-radius: 50px 0px 0px 0px;
    -webkit-border-radius: 50px 0px 0px 0px;
    -moz-border-radius: 50px 0px 0px 0px;
    -ms-border-radius: 50px 0px 0px 0px;
    -o-border-radius: 50px 0px 0px 0px;
}

.mission-section .container .row .side-card h2{
    color: #FFFFFF;
    margin: 0 0 25px 0;
}

.mission-section .container .row .side-card p{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 30px;
}


.mission-section .container .row .side-right{
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    box-shadow: 10px -10px 15px -10px grey;
    margin: 30px 30px 0 0;
    padding: 40px;
    /* width: 33.5%; */
    background: #bb3c1c;
    /* float: right; */
    border-radius: 50px 0px 0px 0px;
    -webkit-border-radius: 50px 0px 0px 0px;
    -moz-border-radius: 50px 0px 0px 0px;
    -ms-border-radius: 50px 0px 0px 0px;
    -o-border-radius: 50px 0px 0px 0px;
}

.mission-section .container .row .side-right h2{
    color: #FFFFFF;
    margin: 0 0 25px 0;
}

.mission-section .container .row .side-right p{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 30px;
}

.about-section .container .row p{
    font-size: 18px;
    color: #181823;
    line-height: 35px;
    margin: 0 0 30px 0;
    text-align: left;
}

.about-section .container .row .card-section .card-body {
    margin: 0 0 20px 0;
}

.about-section .container .row .card-section .card-body .form-button button{
    border-radius: 50px 50px 50px 50px;
    box-shadow: 0px 10px 30px 0px rgb(0 0 0 / 20%);
     padding: 10px 38px 10px 38px; 
    font-size: 20px;
    background-color: #040e56;
    border-color: #040e56;
}

.about-section .container .row .card-section .card-body .form-button button:hover{
    background: #c2320e;
        color: #070707;
}

/* about-section */


/* tab-section */

.service-section{
    padding: 130px 50px 100px 50px;
    position: relative;
}

.service-section .container .row .service-heading{
    padding: 40px;
}

.service-section .container .row .service-heading .form-button button{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    background-color: #bb3c1c;
    border-radius: 0px 0px 0px 0px;
    padding: 18px 32px 18px 32px;
    border-color: #bb3c1c;
}

.service-section .container .row .service-heading .form-button button:hover{
    background: #2c3783;
        color: #c2320e;
}

.service-section .container .row .service-heading h5{
    color: #bb3c1c;
}

.service-section .container .row .service-image img{
    width: 100%;
    height: 100%;
}

.service-section .container .row .service-card .card{
    background-color: #FFFFFF;
    padding: 40px 40px 40px 40px;
    box-shadow: 0px 5px 15px 0px rgb(0 0 0 / 10%);
    border-radius: 0px 0px 0px 0px;
    margin: 0 0 40px 0;
    height: 100%;
    width: 100%;
}

.service-section .container .row .service-card .card .card-body h5{
    color: #0c0c0c;
}

.service-section  .service-card .card.back-img{
    background-image: url(../images/home/17266.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    /* position: relative; */
}

.service-section .container .row .service-card .card:hover{
    transform: translate(0, -15px);
    transition: .5s ease;
    color: #FFFFFF;
    background: #6b210f;
}



/* .service-section .container .row .service-card .card .over-hover {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
     background: #f5a28d; 
    opacity: 0.2;
   background-color: #2c3783; 
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
  }
  
  .service-section .container .row .service-card .card:hover .over-hover{
    bottom: 0;
    height: 100%;
  } */

/* .service-section .container .row .service-card .card.back-img .back-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;

    background-color: #000000;
    opacity: 0.49;
} */

.service-section .container .row .service-card .card.back-img .form-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 130px 0 0 0;
    /* position: relative; */
}

.service-section .container .row .service-card .card.back-img .form-button .circle-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    background-color: #FFFFFF;
    /* color: white; */
    text-align: center;
    /* line-height: 100px; */
    border-radius: 50%;
    font-size: 1.3rem;
}

.service-section .container .row .service-card .card.back-img .form-button .circle-1:hover {
    cursor: pointer;
}
.service-section .container .row .service-card .card.back-img .form-button .circle-1::after,
.circle-1::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 50%;
    z-index: -1;
    -webkit-animation: grow 3s ease-in-out infinite;
    animation: grow 3s ease-in-out infinite;
}

.service-section .container .row .service-card .card.back-img .form-button .circle-1::after {
     background: #FFFFFF; 

     /* background: rgb(59, 225, 164);  */
}

.service-section .container .row .service-card .card.back-img .form-button .circle-1::after::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 50%;
    z-index: -1;
    -webkit-animation: grow 3s ease-in-out infinite;
    animation: grow 3s ease-in-out infinite;
}

.service-section .container .row .service-card .card.back-img .form-button .circle-1::before {
    background: #FFFFFF;
    /* background: rgb(59, 225, 164); */
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

@-webkit-keyframes grow {
    0% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1.8, 1.8);
        transform: scale(1.8, 1.8);
        opacity: 0;
    }
}
@keyframes grow {
    0% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1.8, 1.8);
        transform: scale(1.8, 1.8);
        opacity: 0;
    }
}



.service-section .container .row .service-card .card.back-img .form-button button i{
    color: #c2320e;
    font-size: 20px;
}

.service-section .container .row .service-card .card.back-img .form-button button{
    height: 60px;
    width: 60px;
    background: #FFFFFF;
    border-color: #FFFFFF;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.service-section .container .row .service-card .card.back-img .form-button button:hover{
    background: #c2320e;
}

.service-section .container .row .service-card .card.back-img .form-button button i:hover{
    color: #FFFFFF;
}


.service-section .container .row .service-card .card .card-img-top{
    width: 30%;
    height: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.service-section .container .row .service-card .card .card-body{
    text-align: center;
}

.service-section .container .row .service-card .card .card-body .form-button button{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    background-color: #2c3783;
    border-radius: 0px 0px 0px 0px;
    padding: 18px 28px 18px 28px;
    border-color: #2c3783;
}

.service-section .container .row .service-card .card .card-body .form-button button:hover{
    background: #c2320e;
    color: #000;
}

/* .service-section .container .row .service-heading h1{
    text-align: center;
    margin: 50px 0 50px 0;
} */

/* .service-section .container .row .tab-section .tabs{
    margin: 0px 0 20px 0;
    padding: 0px;
    list-style: none;
    text-align: center;
} */

/* .service-section .container .row .tab-section .tab-content .tab-image img{
    width: 100%;
    height: 100%;
} */

/* .service-section .container .row .tab-section .tab-content h1{
    margin: 0 0 25px 0;
} */

/* .service-section .container .row .tab-section .tab-content p{
    margin: 0 0 30px 0;
} */

/* .service-section .container .row .tab-section .tab-content .form-button button{
    background: #040e56;
    border-radius: 50px;
    padding: 10px 20px 10px 20px;
} */


/* .service-section .container .row .tab-section .tab-content .form-button button:hover{
    background: #c2320e;
    color: #070707;
} */

/* .service-section .container .row .tab-section ul.tabs li{
    background: none;
    color: rgb(245, 241, 241);
    display: inline-block;
    padding: 10px 25px;
    cursor: pointer;
    border: 1px solid #bb3c1c;
    border-style: solid;
    margin: 0 -2px;
    background: #2c3783;
    border-radius: 0 10px 0 10px;
    -webkit-border-radius: 0 10px 0 10px;
    -moz-border-radius: 0 10px 0 10px;
    -ms-border-radius: 0 10px 0 10px;
    -o-border-radius: 0 10px 0 10px;
} */

/* .service-section .container .row .tab-section ul.tabs li.current{
    background: #bb3c1c;
    color: rgb(248, 245, 245);
} */

/* .service-section .container .row .tab-section ul.tabs li .fa-sketch, .fa-cart-arrow-down, .fa-mobile-alt, .fa-chart-line{
    margin: 0 5px 0 0;
} */

/* .service-section .container .row .tab-section .tab-content{
    display: none;
     background: #ededed; 
    padding: 50px;
    margin: 54px 0 0;
} */

/* .service-section .container .row .tab-section .tab-content.current{
    display: inherit;
} */



  /* client-section */

  .client-section{
      padding: 100px 50px 100px 50px;
    background-color: #2c3783;
    background-image: url(../images/home/overlay.png);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
  }

  .client-section .side-over{
    background-image: url(../images/home/overlay-left.png);
    background-position: center center;
    background-size: cover;
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;

    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute

  }

  .client-section .container .row .client-heading .client-text h5{
    color: #c2320e;
    margin: 0 0 20px 0;
    font-size: 30px;
  }

  .client-section .container .row .client-heading .client-text h1{
    color: #f7f5f4;
  }

  .client-section .container .row .client-heading .client-slider .owl-carousel .item .item-img{
      display: flex;
      padding: 25px 0 0 0;
  }

  .client-section .container .row .client-heading .client-slider .owl-carousel .item .item-img img{
      height: 70px;
      width: 70px;
      border-radius: 50%;
      margin: 0 30px 0 0;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
}

.client-section .container .row .client-heading .client-slider .owl-carousel .item .item-img .item-arrow .fa-quote-right{
    margin: 0 0px 0 85px;
    padding: 12px 0 0 0;
    font-size: 30px;
    color: #FFFFFF;
}

.client-section .container .row .client-heading .client-slider .owl-carousel .item {
    padding: 25px 20px 10px 20px;
    margin: 0 50px 0 0;
    border-radius: 10px;
    background: #054099;
    box-shadow: 0 10px 10px 10px #054099;
}

.client-section .container .row .client-heading .client-slider .owl-carousel .item .item-text p{
   color: #FFFFFF;
   font-size: 18px;
}
  
.client-section .container .row .client-heading .client-slider .owl-carousel .item .item-img .side-text h3{
  color: #FFFFFF;
}

.client-section .container .row .client-heading .client-slider .owl-carousel .item .item-img .side-text p{
    color: #FFFFFF;
  }

  .client-section .container .row .client-heading .client-slider .last-section{
    margin: 50px 0 0 0;
}

.client-section .container .row .client-heading .client-slider .last-section p{
    color: #FFFFFF;
    font-size: 18px;
}

.client-section .container .row .client-image {
    margin: 100px 0 0 0;
}

.client-section .container .row #size-image {
    background: #054099;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 10px 10px #4856b1
}

.client-section .container .row .right-txt p, h4, h5{
  color: #FFFFFF;
}

.client-section .container .row .client-image img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

   /* client-section */


   /* contact-section */
  
   .contact-section{
       padding: 100px 100px 150px 100px;
       background-image: url(../images/home/aerial-view-business-team.jpg);
       background-position: center center;
       background-repeat: no-repeat;
       background-size: cover;
       background-attachment: fixed;
       box-shadow: inset 0 0 0 100vw #0a0a0ab8;
       transition: box-shadow .3s ease-out;

   }

   .contact-section .contact-overlay{
    background-color: #000000;
    opacity: 0.7;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
   }

   .contact-section .container .row .contact-text {
    margin: 70px 0 0px 0;
}

   .contact-section .container .row .contact-text h1{
       font-size: 50px;
       margin: 0 0 20px 0;
   }

   .contact-section .container .row .contact-text h1{
       color: #FFFFFF;
       text-align: center;
   }

   .contact-section .container .row .contact-text p{
    color: #FFFFFF;
    text-align: center;
}



   .contact-form{
       margin: -100px 0 100px 0;
   }


   .contact-form .container .row .first-text .card{
    box-shadow: inset 0 0 0 100vw #501000e0;
   background: url(../images/home/business-people-working-together.jpg) center center;
   background-size: cover;
   color: white;
   border: none;
   padding: 30px;
   border-radius: 0;
   transition: box-shadow .3s ease-out;
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   -ms-border-radius: 0;
   -o-border-radius: 0;
}

.contact-form .container .row .first-text .card .card-body h1{
  margin: 0 0 40px 0;
}

.contact-form .container .row .first-text .card .card-body p{
    margin: 0 0 40px 0;
  }

  .contact-form .container .row .first-text .card .card-body ul{
    list-style-type: none;
    margin: 0 0 40px 0;
  }

  .contact-form .container .row .first-text .card .card-body li{
    margin: 0 0 20px 0;
  }

  .contact-form .container .row .first-text .card .card-body .form-button button{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    background-color: #f0f0f5;
    border-radius: 0px 0px 0px 0px;
    padding: 18px 28px 18px 28px;
    border-color: #bb3c1c;
    color: #bb3c1c;
  }

  .contact-form .container .row .first-text .card .card-body .form-button button:hover{
    transform: translate(0, -15px);
    transition: .5s ease;
    box-shadow: 0 0 3px rgb(43, 85, 175);
    /*box-shadow: 0 0 3px black;
    margin-top: -10px;
    */-webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
    -webkit-transform: translate(0, -15px);
    -moz-transform: translate(0, -15px);
    -ms-transform: translate(0, -15px);
    -o-transform: translate(0, -15px);
}
  
.contact-form .container .row .form-section .card .card-body .row label{
        /* display: block; */
        color: #101010;
        /* font-family: "Muli", Sans-serif; */
        font-size: 16px;
        font-weight: 600;
        line-height: 30px;
        margin: 0px 0px 10px 0px;
}

.contact-form .container .row .form-section .card{
    padding: 50px 30px 50px 30px;
    background: #eaebed;
    border: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.contact-form .container .row .form-section .row input{
    margin: 0 0 20px 0;
}

.contact-form .container .row .form-section .row textarea{
    margin: 0 0 30px 0;
}

.contact-form .container .row .form-section .card .card-body .form-button button{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    background-color: #2c3783;
    border-radius: 0px 0px 0px 0px;
    padding: 15px 20px 15px 20px;
    border-color: #2c3783;
}

.contact-form .container .row .form-section .card .card-body .form-button button:hover{
    transform: translate(0, -15px);
    transition: .5s ease;
    box-shadow: 0 0 3px rgb(43, 85, 175);
}



   /* .contact-form .container .row .first-text .card .img-overlay{
    background-color: #0a0200;
    opacity: 0.9;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
   } */

   /* contact-section */

   /* footer-section */

   .footer-section{
      padding: 150px 50px 100px 50px;
    background-image: url(../images/home/group-people-working-out-business-plan-office.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 100vw #4e73bdeb;
    transition: box-shadow .3s ease-out;
}

  .footer-section .container .row .footer-image img{
    width: 50%;
    height: auto;
    margin: 0 0 30px 0;
  }

  .footer-section .container .row .footer-image p{
    color: #FFFFFF;
}

.footer-section .container .row .footer-heading h5{
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 25px 0;
}

.footer-section .container .row .footer-links h5{
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 25px 0;
}

.footer-section .container .row .footer-social h5{
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 25px 0;
}

  .footer-section .container .row .footer-heading ul {
    padding: 0;
    list-style-type: none;
    line-height: 35px;
}

.footer-section .container .row .footer-heading ul li{
   color: #FFFFFF;
   margin: 0 0 16px 0;
}

.footer-section .container .row .footer-heading ul li a{
    text-decoration: none;
    color: #FFFFFF;
 }
 

.footer-section .container .row .footer-links ul li{
    color: #FFFFFF;
    margin: 0 0 16px 0;
 }

 .footer-section .container .row .footer-links ul li a{
    text-decoration: none;
    color: #FFFFFF;
 }

 .footer-section .container .row .footer-links ul li a:hover{
    transform: translate(0, -15px);
    transition: .5s ease;
    color: #bb3c1c;
 }


.footer-section .container .row .footer-links ul {
    padding: 0;
    list-style-type: none;
    line-height: 35px;
}

  .footer-section .container .row .footer-social ul {
    padding: 0;
    list-style-type: none;
    line-height: 35px;
}

.footer-section .container .row .footer-social ul li{
    color: #FFFFFF;
    display: inline-block;
    margin: 0 17px 0 0;
}

.footer-section .container .row .footer-social ul li a{
   text-decoration: none;
   color: #FFFFFF;
   font-size: 23px;
}

.footer-section .container .row .footer-social ul li i:hover{
    transform: translate(0, -15px);
    transition: .5s ease;
    box-shadow: 0 0 3px rgb(43, 85, 175);
    color: #bb3c1c;
 }

   /* footer-section */


   

  